<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyeontae.mapper.PhotoReplyMapper">
	
	<update id="update_reply">
		update photo_reply set content = #{content} where no = #{no}
	</update>
		
</mapper>